<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../Semantic-UI-CSS-master/semantic.css">
    <link type="text/css" rel="stylesheet" href="../style/screen.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>





<div class="ui raised very padded text container segment">
    <h2 class="ui header">Welcome to Jade!</h2>
    <form>
        <fieldset>
            <legend>Login</legend>
            <label for="username">Username</label>
            <input type="text" id="username">
            <label for="password">Password</label>
            <input type="password" id="password">
            <button id="loginbtn" class="btn btn-positive">Login</button><button id="registerbtn" class="btn btn-negative">Register</button>
        </fieldset>


    </form>
</div>







<script type="text/javascript" src="../js/jquery-3.2.1.min.js"
        crossorigin="anonymous"></script>



<script src="../Semantic-UI-CSS-master/semantic.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>